@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.success-view-container{
    min-height: 100vh;
    background-size: cover;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .success-view-container{
        padding-left: 180px;
        padding-right: 80px;
    }
}

.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description{
    width: 100%;
    order: 1;
}

@media screen and (min-width: 768px) {
    .description-container{
        flex-direction: row;
    }
    .description{
        width: 40%;
        order: 0; 
    }
}

.home-image{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .home-image{
        width: 60%;
    }
}

.heading{
    font-family: 'Roboto';
    font-size: 35px;
}

.paragraph{
    font-family: 'Roboto';
    font-size: 15px;
}

.profile-heading{
    font-family: 'Roboto';
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .heading{
        font-size: 40px;
    }
    .paragraph{
        font-size: 20px;
    }
    .profile-heading{
        font-size: 30px;
    }
}

.user-details-list-container{
    list-style-type: none;
    padding-left: 0px;
}

.list-item{
    display:flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(7, 7, 7, 0.08),0px 12px 50px rgba(7, 7, 7, 0.18);
    padding: 15px;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .list-item{
        width: 30%;
    }
}

.user{
    background-color: rgb(18, 135, 237);
}

.email{
    background-color: rgb(158, 5, 234);
}

.status{
    background-color: rgb(6, 216, 34);
}

.side-head{
    font-family: 'Roboto';
    font-size: 13px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
}

.side-head-value{
    font-family: 'Roboto';
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.icon{
    font-size: 40px;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.801);
}

@media screen and (min-width: 768px) {
    .side-head{
        font-size: 16px;
    }
    .side-head-value{
        font-size: 20px;
    }
    .icon{
        font-size: 50px;
    }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.user-not-found-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .user-not-found-heading {
    font-size: 48px;
  }
}

.failure-view-image {
  width: 300px;
  height: 165px;
}

@media screen and (min-width: 768px) {
  .failure-view-image {
    width: 540px;
    height: 290px;
  }
}

