.not-found-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-img {
  width: 40%;
}
.not-found-message{
    color: rgb(58, 188, 58);
    font-size: 30px;
}