.nav-header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(243, 243, 243);
}

@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
    border-bottom-style: none;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
  }
}

.nav-bar-mobile-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-bar-mobile-logo-container {
    display: none;
  }
}

.nav-bar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}



.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #037e62;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  .logout-desktop-btn {
    display: none;
  }
}

.nav-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .nav-mobile-btn {
    display: none;
  }
}

.nav-bar-img {
  width: 24px;
}

.app-logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.app-logo{
    color: green;
    font-size: 30px;
    margin-right: 5px;
}
.app-logo-text{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    color: green;
}
@media screen and (min-width: 768px) {
    .app-logo{
        font-size: 40px;
    }
    .app-logo-text{
        font-size: 25px;
    }
}