@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.register-background{
    height: 100vh;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .register-background{
        flex-direction: row;
        justify-content: space-around;
    }
}

.register-image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
}


.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 
  0px 4px 20px rgba(7, 7, 7, 0.08),
  0px 12px 50px rgba(7, 7, 7, 0.18);
  max-width: 350px;
}

@media (min-width: 768px) {
    .register-image-container{
        width: 35%;
    }
  .register-form-container {
    width: 50%;
    flex-shrink: 0;
    box-shadow: 
    0px 4px 20px rgba(7, 7, 7, 0.08),
    0px 12px 50px rgba(7, 7, 7, 0.18);
    padding: 64px 48px 64px 48px;
  }
}

.register-image{
    width: 100%;
}

.register-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #037e62;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.signin-text{
    color: rgb(5, 5, 227);
}