@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.login-background{
    background-color: #ffffff;
    height: 100vh;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .login-background{
        flex-direction: row;
        justify-content: space-around;
    }
}

.login-image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
}


.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 
  0px 4px 20px rgba(7, 7, 7, 0.08),
  0px 12px 50px rgba(7, 7, 7, 0.18);
  max-width: 350px;
}

@media (min-width: 768px) {
    .login-image-container{
        width: 35%;
    }
  .login-form-container {
    width: 50%;
    flex-shrink: 0;
    box-shadow: 
    0px 4px 20px rgba(7, 7, 7, 0.08),
    0px 12px 50px rgba(7, 7, 7, 0.18);
    padding: 64px 48px 64px 48px;
  }
}


.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
}

.input-label{
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #0f0d0f;
}

.input-field{
    font-size: 14px;
    height: 20px;
    border: 1px solid #d7dfe9;
    background-color: #e2e4f0;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
}

.login-image{
    width: 100%;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #037e62;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 16px;
  color: #ff0b37;
}

.signup-text{
    color: rgb(5, 5, 227);
}